################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EShopBE
/EShopBE/obj
/EShopBE/bin
/EShopBE.Domain/bin
/EShopBE.Domain/obj
/EShopBE.Models/bin
/EShopBE.Models/obj
