################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EShopBE
/EShopBE/obj
/EShopBE/bin
